* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
}

body {
	margin: 0;
	font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	height: 100vh;
	max-width: 500px;
	border: 3px solid gray;
	margin: auto;
	position: relative;

	display: flex;
	flex-direction: column;
	box-shadow: 0 0 15px gray;
}

/* start header */
header {
	background-color: coral;
	padding: 10px;
	color: white;
	height: 60px;
}

header h1 {
	margin: 0;
	font-weight: 400;
}
/* end header */

/* start nav */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: dimgray;
	color: white;
	padding-inline: 10px;
	flex-wrap: wrap;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 10px;
	margin: 0;
	text-transform: capitalize;
	margin: auto;
}
nav ul li {
	cursor: pointer;
}

nav ul li a {
	display: block;
	padding: 10px;
}

nav ul li:hover {
	background-color: burlywood;
	color: dimgray;
}

nav input {
	padding: 5px;
	min-width: 230px;
	border-radius: 3px;
	border: none;
	outline: none;
	margin: 10px auto;
}
/* start nav */

/* strat main for all pages */
main {
	padding-inline: 1rem;
	flex: 1;
	overflow-y: auto;
}

/* start mainfor home page */

.home ul li {
	list-style: none;
	border-bottom: 1px solid lightgray;
	margin-bottom: 1rem;
	cursor: pointer;
}

.home ul li h3 {
	margin: 0;
	text-transform: capitalize;
}
.home ul li h3 + p {
	margin: 0;
	padding-left: 3px;
	font-size: small;
	color: darkslategray;
}

.home .post-body {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 70%;
	margin-bottom: 1.5rem;
}
.no-posts {
	text-align: center;
	color: coral;
	font-weight: 700;
	font-size: x-large;
	margin-top: 3rem;
}
/* start post page */
p.date-time {
	font-size: small;
	color: darkslategray;
}
.post-details button {
	text-transform: capitalize;
	padding: 5px 15px;
	background-color: coral;
	color: #fff;
	font-size: medium;
	border: 2px solid dimgray;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}
.post-details .delete-button {
	background-color: red;
}
.post-details button:hover {
	background-color: dimgray;
	color: white;
	border-color: coral;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.home-link {
	color: coral;
	text-decoration: underline;
}
.home-link:hover {
	color: chocolate;
}

/* start new post page */
.new-post input,
.new-post textarea {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	padding: 5px;
	border: 1px solid dimgray;
	border-radius: 5px;
	font-size: 16px;
}
.new-post input:focus,
.new-post textarea:focus {
	outline-color: coral;
}

.new-post #post {
	height: 300px;
}
.new-post button {
	width: 100%;
	padding: 5px;
	background-color: coral;
	color: #fff;
	font-size: large;
	border: 2px solid dimgray;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}
.new-post button:hover {
	background-color: dimgray;
	color: white;
	border-color: coral;
}

footer {
	background-color: coral;
	padding: 10px;
}
footer p {
	margin: 0;
	text-align: center;
	color: white;
	font-weight: 600;
	text-transform: capitalize;
}
